.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 50px;
  gap: 30px;
}

.optionWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100px;
  cursor: pointer;
}

.iconWrapper {
  width: 20px;
  height: 20px;
  position: relative;
}
