.container {
  padding: 100px;
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.text {
  font-size: 12px;
  color: rgb(136, 136, 136);
}
