.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.containerAlt {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.imgWrapper {
  position: relative;
  width: 40px;
  height: 40px;
}

.img {
  object-fit: cover;
  border-radius: 50%;
}
