:root {
  --textDark: #141414;
  --textLight: #ffffff;
  --primaryAlt: #005ce6;
  --primary: #66a3ff;
  --gray: #e4e4e4;
  --grayAlt: #f1f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}
